<div class="container">
    <div class="row">
        <p class="text-right">You have {{timeLeft}} seconds left.</p>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default" *ngFor="let task of tasks; index as i;" (click)="setActive(i)">
            Task {{task}}
        </button>
    </div>
    <br>
    <br>

    <div class="row">

        <ngb-alert [dismissible]="false">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </ngb-alert>
        <p class="bg-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <hr>
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                Some text to search from Some text to search from Some text to search from Some text to search from
                Some text to search from Some text to search from Some text to search from
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="regex">Regular expression</label>
                    <input type="text" class="form-control input-lg" id="regex" placeholder="Regex">
                </div>
            </div>
            <div class="col-md-4">results</div>
        </div>
    </div>
</div>