<div class="container text-left">

    <div class="row text-right">
        <div class="col-md-6 text-center col-middle">
            <button type="button" *ngFor="let task of tasks; index as i;"
                    (click)="setActive(i)" [class]="getTaskButtonClass(task.id) + ' btn task-btn'">
                {{task.id}}
            </button>
        </div>

        <app-timer class="col-middle col-md-4"></app-timer>
    </div>

    <div class="row">
        <div class="bg-info task-info rounded">
            <h1>Task #{{currentTask.id}}
                <small>{{currentTask.shortName}}</small>
            </h1>
            <hr class="black-border">
            <div [innerHTML]="currentTask.lessonHtml"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <ngb-alert [dismissible]="false">
            <strong>Testing time!</strong> <br>
            <div [innerHTML]="currentTask.taskHtml"></div>
        </ngb-alert>
    </div>
    <hr>
    <div class="row">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="regex">Text input</label>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let text of currentTask.inputText;">{{text}}</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="regex">Regular expression</label>
                    <input type="text" class="form-control input-lg" id="regex" placeholder="Regex"
                           [(ngModel)]="currentTask.regex" (change)="regexChanged()">
                </div>
                <div class="alert alert-success" role="alert" *ngIf="success()">
                    <b>Congratulations!</b> Well done.
                    {{currentTask.id !== tasks.length ? 'Shall we continue?' : ''}}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="regex">Results</label>
                    <ul class="list-group">
                        <li [class]="'list-group-item ' + resultClass(i)"
                            *ngFor="let out of currentTask.output; index as i">
                            <div class="row">
                                <div class="col-md-10">{{out}}</div>
                                <div class="col-md-2">
                                    <span *ngIf="isResultOk(i); else elseBlock" class="glyphicon glyphicon-ok"
                                          aria-hidden="true"></span>
                                    <ng-template #elseBlock>
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </ng-template>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>