.task-info {
    padding: 10px;
}

.rounded {
    border-radius: 10px;
}

.task-btn {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 50%;
    font-size: 16pt;
    width: 45px;
}

.black-border {
    border-color: #9d9d9d;
}