.task-info {
    padding: 10px;
}

.rounded {
    border-radius: 10px;
}

.task-btn {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
    font-size: 16pt;
    width: 45px;
}

.black-border {
    border-color: #9d9d9d;
}

.col-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}