.task-info {
    padding: 10px;
}

.rounded {
    border-radius: 10px;
}

.task-btn {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
    font-size: 16pt;
    width: 45px;
}

.black-border {
    border-color: #9d9d9d;
}

.col-middle {
    display: inline-block;
    vertical-align: middle;
    float: none;
}