<main class="content">

    <div class="jumbotron">
        <h1>Hello, world!</h1>
        <p>Welcome to Playtech RegEx game that will teach you some cool stuff today, hopefully ;)</p>
        <p>
            Regular expression (aka RegEx or RegExp) is quite powerful technique used in different kinds of problem
            solving that require either searching (and/or replacing) sequences of characters in a given string. Have you
            seen
            validation of e-mail or phone number fields in the web? That's most probably done by the regular
            expressions.
        </p>

        <p>It's all about learning regex and writing some patterns today. Until you decided to solve a problem with
            regular expressions - you had only one problem. Guess what? Now you have two :)</p>
        <p><a class="btn btn-primary btn-lg" href="#" routerLink="/game" role="button">Let's get started!</a></p>
    </div>

</main>
<s></s>